<p-dialog
  [visible]="open()"
  (visibleChange)="onDialogVisibleChange($event)"
  [header]="isCreate() ? ('waypointEdit.createTitle' | translate) : ('waypointEdit.editTitle' | translate)"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [style]="{ width: 'min(100vw - 1rem, 440px)' }"
>
  <form class="wp-edit-dialog__form" (ngSubmit)="onSubmit()">
    <label class="wp-edit-dialog__field">
      <span class="gc-label">{{ 'waypoints.name' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="form().name"
        (ngModelChange)="patchForm({ name: $event })"
        name="name"
        required
        maxlength="80"
      />
    </label>
    <label class="wp-edit-dialog__field">
      <span class="gc-label">{{ 'common.code' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="form().code ?? ''"
        (ngModelChange)="patchForm({ code: $event || undefined })"
        name="code"
        maxlength="12"
      />
    </label>
    <label class="wp-edit-dialog__field">
      <span class="gc-label">{{ 'waypoints.type' | translate }}</span>
      <p-select
        [options]="types()"
        optionLabel="label"
        optionValue="value"
        [ngModel]="form().type"
        (ngModelChange)="patchForm({ type: $event })"
        name="type"
        size="small"
        styleClass="wp-edit-type-select"
      />
    </label>
    <div class="wp-edit-dialog__row">
      <label class="wp-edit-dialog__field">
        <span class="gc-label">{{ 'waypoints.latitude' | translate }}</span>
        <input
          pInputText
          fluid
          type="number"
          step="any"
          [ngModel]="form().latitude"
          (ngModelChange)="patchForm({ latitude: +$event })"
          name="latitude"
          required
        />
      </label>
      <label class="wp-edit-dialog__field">
        <span class="gc-label">{{ 'waypoints.longitude' | translate }}</span>
        <input
          pInputText
          fluid
          type="number"
          step="any"
          [ngModel]="form().longitude"
          (ngModelChange)="patchForm({ longitude: +$event })"
          name="longitude"
          required
        />
      </label>
    </div>
    <label class="wp-edit-dialog__field">
      <span class="gc-label">
        {{ 'waypoints.elevation' | translate }}
        @if (showTerrainElevationHint()) {
          <span class="wp-edit-dialog__elev-hint">{{ elevationFromTerrain() }}</span>
        }
      </span>
      <input
        pInputText
        fluid
        type="number"
        [ngModel]="form().elevation ?? ''"
        (ngModelChange)="onElevationChange($event)"
        name="elevation"
      />
    </label>
    <label class="wp-edit-dialog__field">
      <span class="gc-label">{{ 'waypoints.description' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="form().description ?? ''"
        (ngModelChange)="patchForm({ description: $event || undefined })"
        name="description"
      />
    </label>
    <footer class="wp-edit-dialog__actions">
      <p-button [label]="'common.cancel' | translate" type="button" [text]="true" (onClick)="onCancel()" />
      <p-button [label]="'dialogs.waypointEditSave' | translate" type="submit" icon="pi pi-check" severity="primary" />
    </footer>
  </form>
</p-dialog>
