<p-dialog
  [visible]="visible()"
  (visibleChange)="onVisibleChange($event)"
  [header]="'pilot.title' | translate"
  [modal]="true"
  [closable]="true"
  [dismissableMask]="true"
  [draggable]="false"
  [style]="{ width: 'min(100vw - 1rem, 520px)' }"
>
  <div class="decl-form-grid">
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.pilotLabel' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="flarmProfile().pilotName"
        (ngModelChange)="flarmProfileService.setPilotName($event)"
        [placeholder]="'pilot.namePlaceholder' | translate"
        maxlength="47"
      />
    </label>
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.gliderType' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="flarmProfile().gliderType"
        (ngModelChange)="flarmProfileService.setGliderType($event)"
        [placeholder]="'pilot.gliderPlaceholder' | translate"
        maxlength="31"
      />
    </label>
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.reg' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="flarmProfile().gliderId"
        (ngModelChange)="flarmProfileService.setGliderId($event)"
        [placeholder]="'pilot.regPlaceholder' | translate"
        maxlength="15"
      />
    </label>
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.compId' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="flarmProfile().compId"
        (ngModelChange)="flarmProfileService.setCompId($event)"
        [placeholder]="'pilot.compIdPlaceholder' | translate"
        maxlength="15"
      />
    </label>
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.class' | translate }}</span>
      <input
        pInputText
        fluid
        [ngModel]="flarmProfile().compClass"
        (ngModelChange)="flarmProfileService.setCompClass($event)"
        [placeholder]="'pilot.classPlaceholder' | translate"
        maxlength="15"
      />
    </label>
    <label class="decl-field">
      <span class="gc-label">{{ 'pilot.logint' | translate }}</span>
      <input
        pInputText
        fluid
        type="number"
        min="1"
        max="8"
        [ngModel]="flarmProfile().logInterval"
        (ngModelChange)="flarmProfileService.setLogInterval(+$event)"
      />
    </label>
  </div>
  <div class="decl-wp-dialog__foot">
    <p-button [label]="'common.save' | translate" icon="pi pi-check" (onClick)="close()" />
  </div>
</p-dialog>
